@font-face {
    font-family: 'Canela Thin';
    src: url("../dist/fonts/canela-thin.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DinWeb Bold';
    src: url(../dist/fonts/DINWeb-Bold.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Euclid Circular A Medium";
    src: url(../dist/fonts/EuclidCircularA-Medium-WebXL.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Euclid Circular A Regular";
    src: url(../dist/fonts/EuclidCircularA-Regular-WebXL.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Mother Nature";
    src: url(../dist/fonts/mother_nature-webfont.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}