@import url(./fonts.css);

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    background: #252525;
    color: #ffffffa8;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid div {
    padding: 20px;
    /* width: 50%; */
}

.canela {
    font-family: 'Canela Thin';
}

.dinweb {
    font-family: 'DinWeb Bold';
}

.euclid-medium {
    font-family: "Euclid Circular A Medium";
}

.euclid-regular {
    font-family: "Euclid Circular A Regular";
}

.mother-nature {
    font-family: "Mother Nature";
}